:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover i,
button:hover {
  color: rgb(150, 150, 150);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-input {
  outline: none;
  border: 0;
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-size: 16px;
  min-width: 9rem;
  width: 25vw;
}

.form-container,
.lists {
  display: flex;
  flex: 3 0 50rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  gap: 10px;
  padding: 10px;
}

.todo-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 1rem;
  background-color: rgb(109, 109, 109);
  gap: 0.5rem;
  flex: 2 0 3rem;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 12px;
  font: 0.6rem "Courier New", sans-serif;
  background-color: rgb(67, 67, 67);
  border-bottom-right-radius: 16px;
}

.details-text {
  font: 1.2rem "Arial" 900;
  line-height: 0.6cm;
  text-align: left;
}

.btn-container {
  display: flex;
  gap: 2px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 12px;
}

.btn {
  background-color: #1a1a1a1a;
  padding: 0.25rem 0.5rem;
  font-size: 10px;
  border-radius: 4px;
}

.black {
  background-color: #1a1a1a;
}

.done {
  background-color: rgb(60, 119, 47);
}

.ongoing {
  background-color: rgb(119, 92, 29);
}

.filter-container {
  display: flex;
  position: relative;
  justify-content: right;
}

.dropdown-btn {
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: start;
  position: absolute;
  background-color: #1a1a1a;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  padding: 16px 12px;
  z-index: 2;
  border-radius: 3px;
}

.checkbox-label {
  font: 12px "Courier New";
}
